header form{
    margin-left: 270px;

   
}

.container-1 {
    margin-top: -14px;
}
header h3{
    color: WHITE;
    margin-left: 570px;
}

.container h1 {
    text-shadow: 8px 8px 8px red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
